<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="O.T.P"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".log_in_page"
            android:label="@string/title_activity_log_in_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:rotationAnimation="rotate"/>
        <activity
            android:name=".register_page"
            android:label="@string/title_activity_register_page"
            android:rotationAnimation="rotate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home_page" />
        <activity
            android:name=".Faculty_signup"
            android:label="@string/title_activity_faculty_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student_signup"
            android:label="@string/title_activity_student_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".CheckConnectivity" />
    </application>

</manifest>